@import url("http://fonts.googleapis.com/css?family=VT323");
@import url("http://fonts.googleapis.com/css?family=Passero%20One");
  
.damage-value {
    position: absolute;
    color: white;
    top: -10%;
    &.damage,
    &.cure {
        font: normal 30px/1 "VT323", Helvetica, sans-serif;
        width: 72px;
        text-align: center;
    }
    &.damage {
        color: orangered;
        text-shadow: 1px 1px 0 yellow;
    }
    &.cure {
        color: limegreen;
        text-shadow: 1px 1px 0 yellowgreen;
    }
    .float-value {
        @keyframes float {
            0% {
                opacity: 0;
                transform: translateY(-10%);
                transform: scale(0.1);
            }
            30% {
                transform: translateY(-80%);
                opacity: 1;
            }
            100% {
                transform: translateY(-120%);;
                opacity: 0;
            }
        }
        animation: float 1.2s ease 1;
    }
}
