@import '../libs/animate.scss';
@mixin blink($name, $bg, $opacity) {
    @keyframes #{$name} {
        50% {
            background: $bg;
            opacity: $opacity;
        }
    }
}

.action-effect {
    position: absolute;
    z-index: 90;
    width: 72px;
    height: 76px;
    opacity: 0;
    &.onhit-blink {
        @include blink(onhit-blink, red, 0.6);
        animation: onhit-blink .25s ease 2;
    }
    &.spell-blink {
        @include blink(spell-blink, white, 0.6);
        animation: spell-blink 15s ease 2;
    }
}

@mixin frames($name, $width, $height) {
    @keyframes #{$name + '_play_x'} {
        0% {
            background-position-x: 0px;
        }
        100% {
            background-position-x: -$width;
        }
    }
    @keyframes #{$name + '_play_y'} {
        0% {
            background-position-y: 0px;
        }
        100% {
            background-position-y: -$height;
        }
    }
}

@mixin effect($name, $file, $width, $height, $frame_x_count, $frame_y_count, $zoom_factor) {
    $image_width: $width;
    $image_height: $height;
    @include frames($name, $image_width, $image_height);
    $frame_width: $image_width / $frame_x_count;
    $frame_height: $image_height / $frame_y_count;
    $play_rate: ($frame_x_count * $frame_y_count) / 16 / 2; //16 FPS, divide by 2 to play on x and y
    .#{$name} {
        transform: scale($zoom_factor);
        width: $frame_width;
        height: $frame_height;
        animation-iteration-count: 1;
        background-image: url($file);
        animation: #{$name + '_play_x'} #{$play_rate}s steps($frame_x_count) 1,
        #{$name + '_play_y'} #{$play_rate}s steps($frame_y_count) 1;
    }
}
